# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Secrets
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite
*.sqlite3

# Password/data files
passwords.json

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Kubernetes secrets
k8s/secret.yaml

# Trivy local scanner and reports
trivy.exe
trivy.zip
trivy_0.67.2_Windows-64bit.zip
trivy-before.txt
trivy-after.txt
trivy-high-critical.txt
